.read-more {
    position: relative;
    margin-top: 50px;
    font-weight: 600;
    font-size: 18px;
    color: $blue-color;
    img {
        display: inline-block;
        margin-left: 25px;
    }
    a:hover {
        color: $blue-color;
        display: inline-block;
    }
    &__arrow:active {
        animation: left-to-right 1s ease-in-out .3 forwards;
        transform: translateX(500px);
    }

    @keyframes left-to-right {
        0% {
            transform: translate(0);
        }
        100% {
            transform: translateX(500px);
        }
    }
}