.read-more {
    position: relative;
    margin-top: 50px;
    font-weight: 600;
    font-size: 18px;
    color: $blue-color;
    img {
        display: inline-block;
        margin-left: 25px;
    }
    a:hover {
        color: $blue-color;
        display: inline-block;
    }
    // &:after {
    //     content: '';
    //     position: absolute;
    //     display: inline-block;
    //     width: 15px;
    //     height: 15px;
    //     border: solid #465AF2;
    //     border-width: 3px 3px 0 0;
    //     transform: rotate(45deg) translateY(-70%);
    //     margin-left: 27px;
    //     top: 50%;
    // }
    // &:before {
    //     content: '';
    //     display: inline-block;
    //     width: 30px;
    //     height: 1px;
    //     border: solid #465AF2;
    //     border-bottom: none;
    //     position: absolute;
    //     left: 121px;
    //     transform: translateY(-50%);
    //     top: 50%;
    // }
}